<div>
  <table mat-table [dataSource]="metrics" >
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Ticker </th>
      <td mat-cell *matCellDef="let coin"> {{coin.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let coin"> {{coin.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price (USD) </th>
      <td mat-cell *matCellDef="let coin"> ${{coin.price}} </td>
    </ng-container>

    <ng-container matColumnDef="price_btc">
      <th mat-header-cell *matHeaderCellDef> Price (BTC) </th>
      <td mat-cell *matCellDef="let coin"> {{coin.price_btc}} </td>
    </ng-container>

    <ng-container matColumnDef="percent_change_24h">
      <th mat-header-cell *matHeaderCellDef> Percent Change (24h) </th>
      <td mat-cell *matCellDef="let coin"> {{coin.percent_change_24h > 0 ? '+' + coin.percent_change_24h : coin.percent_change_24h}}%</td>
    </ng-container>

    <ng-container matColumnDef="percent_change_7d">
      <th mat-header-cell *matHeaderCellDef> Percent Change (7d) </th>
      <td mat-cell *matCellDef="let coin"> {{coin.percent_change_7d > 0 ? '+' + coin.percent_change_7d : coin.percent_change_7d}}% </td>
    </ng-container>

    <ng-container matColumnDef="percent_change_30d">
      <th mat-header-cell *matHeaderCellDef> Percent Change (30d) </th>
      <td mat-cell *matCellDef="let coin"> {{coin.percent_change_30d > 0 ? '+' + coin.percent_change_30d : coin.percent_change_30d}}% </td>
    </ng-container>

    <ng-container matColumnDef="market_cap">
      <th mat-header-cell *matHeaderCellDef> Market Cap (USD)</th>
      <td mat-cell *matCellDef="let coin"> ${{coin.market_cap / 1000000000 | number}}B </td>
    </ng-container>

    <ng-container matColumnDef="max_supply">
      <th mat-header-cell *matHeaderCellDef> Max Supply</th>
      <td mat-cell *matCellDef="let coin"> {{coin.max_supply / 1000000 | number}}M </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
