/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header{
  text-align: center;
}

.header h1{
  margin: 3rem 0 3rem 0;
  font-size: 5rem;
  font-weight: lighter;
}

.header h2{
  font-size: 2rem;
  font-weight: lighter;
}

.footer{
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 1rem;
}
